#main-wrapper {
    height: 700px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7
}

#terminal-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    background-color: black;
    border: none;
    padding: 15px;
    color: white;
    font-size: 30px;
    outline: none
}

#terminal-options-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.terminal-options-text {
    color: white;
}

.terminal-options-text-commands {
    color: rgb(235, 19, 19);
}

.terminal-options-text-var {
    color: rgb(93, 93, 243);
}
