@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family:"Source Code Pro";
  overflow-x: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
/*
.portfolio-wrap {
  width:100vw;
  height:auto;
}*/

.planet::before {
  content: url('./image/space.jpg');
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}

.background {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:rgb(26, 25, 25);
  z-index:-100;
}

.page1 {
  height:100vh;
  width:100%;
  display:grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
  " . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . "
  " m m m m m m m m m m m m m m m m m m m m m "
  " . . . . . . . . . . . . . . . . . . . . . "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . "
}

.icon-container-main {
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%);
  height:50%;
  width:10%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.tooltips {
  visibility:hidden;
  display:inline;
  color:white;
  margin-left:10px;
  position:absolute;
  opacity:0;
  transition: opacity 0.3s;
  font-family: "Source Code Pro";
  font-size:.4em;
  line-height:2.6em
}

.tooltips:after {
  content: '';
}

.icons:hover .tooltips {
  visibility:visible;
  opacity:1;
}

.icons {
  color:rgb(31, 125, 247);
  opacity:0.5;
  font-size:2.6em;
}

.fa-github-alt {
  animation: .5s ease-in-out 0s 1 slideInFromLeft;
}

.fa-linkedin {
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.fa-clipboard-list {
  animation: 2s ease-in-out 0s 1 slideInFromLeft;
}

.icons:hover {
  color:rgb(31, 125, 247);
  cursor:pointer;
  opacity:0.8;
}

.main-title-container {
  grid-area: m;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.main-title {
  margin:0;
  font-family:"Source Code Pro";
  font-size:2.5em;
  letter-spacing: 2px;
  color:white;
}

.main-full-stack-title {
  color:white;
  letter-spacing:1px;
  margin:1px;
}

.michael-image-container {
  grid-area: i;
  display:flex;
  justify-content:center;
  align-items:center;
}

.michael-image {
  height:280px;
  width:280px;
  background-image: url("./image/michael.jpg");
  background-position: center;
  background-size: cover;
  border-radius:50%;
}

.main-buttons-outer-container {
  grid-area: b;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.main-buttons-inner-container {
  height:76%;
  width:260px;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.main-columns {
  text-align: center
}

.main-button-1 {
  align-self: center
}

.main-button-2 {
  align-self: flex-start
}

.main-button-3 {
  align-self: flex-end
}

.links {
  color:white;
  text-decoration:none;
  text-align:center;
  font-family:"Source Code Pro";
  font-weight:bold;
  transition:transform 1s ease;
}

.portfolio-link {
  align-self:center;
  width:100%;
}

.about-link {
  align-self:flex-start;
}

.contact-link {
  align-self:flex-end;
  margin-right: 20px
}

.links::before,
.links::after {
  display:inline-block;
  opacity:0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
}

.links::before {
  margin-right:8px;
  color:rgb(31, 125, 247);
  content: '<';
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  transform: translateX(3px);
}

.links::after {
  margin-left:6px;
  color:rgb(31, 125, 247);
  content:'/>';
  position:absolute;
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  transform: translateX(-3px);
}

.links:hover::before,
.links:hover::after,
.links:focus::before,
.links:focus::after {
  opacity:1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
