@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family:Source Code Pro;
  overflow-x: hidden;
}

@-keyframes grow-50{
  from { left:100%; }
  to { left:50%; }
}

@-webkit-keyframes grow-50{
  from { left:100%; }
  to { left:50%; }
}

@-keyframes grow-60{
  from { left:100%; }
  to { left:40%; }
}

@-webkit-keyframes grow-60{
  from { left:100%; }
  to { left:40%; }
}

@-keyframes grow-70{
  from { left:100%; }
  to { left:30%; }
}

@-webkit-keyframes grow-70{
  from { left:100%; }
  to { left:30%; }
}

@-keyframes grow-85{
  from { left:100%; }
  to { left:15%; }
}

@-webkit-keyframes grow-85{
  from { left:100%; }
  to { left:15%; }
}

@-keyframes grow-90{
  from { left:100%; }
  to { left:10%; }
}

@-webkit-keyframes grow-90{
  from { left:100%; }
  to { left:10%; }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}

.portfolio-content-wrap {
  width:100vw;
  height:auto;
}

.fixed-background-picture {
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color:rgb(26, 25, 25);
  background-position: center;
  background-size: cover;
  z-index:-100;
}

.page1 {
  height:100vh;
  width:100%;
  display:grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-template-areas:
  " . . . . . . . . . . . . . . . . . . . . . "
  " . . . . . . . . . . . . . . . . . . . . . "
  " m m m m m m m m m m m m m m m m m m m m m "
  " . . . . . . . . . . . . . . . . . . . . . "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " i i i i i i i i i i i i i i i i i i i i i "
  " . . . . . . . . . . . . . . . . . . . . . "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " b b b b b b b b b b b b b b b b b b b b b "
  " . . . . . . . . . . . . . . . . . . . . . "
}

.icon-container-main {
  position:absolute;
  left:0;
  top:15%;
  height:70%;
  width:10%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.tooltips {
  visibility:hidden;
  display:inline;
  color:white;
  margin-left:10px;
  position:absolute;
  opacity:0;
  transition: opacity 0.3s;
  font-family: "Source Code Pro";
  font-size:.4em;
}

.tooltips:after {
  content: '';
}

.fa-github-alt:hover .tooltips {
  visibility:visible;
  opacity:1;
}

.fa-linkedin:hover .tooltips {
  visibility:visible;
  opacity:1;
}

.fa-clipboard-list:hover .tooltips {
  visibility:visible;
  opacity:1;
}

.fab, .fas {
  color:rgb(31, 125, 247);
  opacity:0.5;
  font-size:2.6em;
}

.fa-github-alt {
  animation: .5s ease-in-out 0s 1 slideInFromLeft;
}

.fa-linkedin {
  animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.fa-clipboard-list {
  animation: 2s ease-in-out 0s 1 slideInFromLeft;
}


.fab:hover, .fas:hover {
  color:rgb(31, 125, 247);
  cursor:pointer;
  opacity:0.8;
}

.main-title-container {
  grid-area: m;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.main-title {
  margin:0;
  font-family:Source Code Pro;
  font-size:2.5em;
  letter-spacing: 2px;
  color:white;
}

.main-full-stack-title {
  color:white;
  letter-spacing:1px;
  margin:1px;
}

.michael-image-container {
  grid-area: i;
  display:flex;
  justify-content:center;
  align-items:center;
}

.michael-image {
  height:280px;
  width:280px;
  background-image: url("./image/michael.jpg");
  background-position: center;
  background-size: cover;
  border-radius:50%;
}

.main-buttons-outer-container {
  grid-area: b;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.main-buttons-inner-container {
  height:100%;
  width:390px;
  display:flex;
  justify-content:space-between;
}

.main-columns {
  height:100%;
  width:150px;
  display:flex;
  justify-content:center;
}

.links {
  color:white;
  text-decoration:none;
  text-align:center;
  font-family:Source Code Pro;
  font-weight:bold;
  transition:transform 1s ease;
}

.portfolio-link {
  align-self:center;
  width:100%;
}

.about-link {
  align-self:flex-start;
}

.contact-link {
  align-self:flex-end;
}

.links::before,
.links::after {
  display:inline-block;
  opacity:0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 300ms cubic-bezier(0.86, 0, 0.07, 1);
}

.links::before {
  margin-right:8px;
  color:rgb(31, 125, 247);
  content: '<';
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  transform: translateX(3px);
}

.links::after {
  margin-left:6px;
  color:rgb(31, 125, 247);
  content:'/>';
  position:absolute;
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  transform: translateX(-3px);
}

.links:hover::before,
.links:hover::after,
.links:focus::before,
.links:focus::after {
  opacity:1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.button-1 {
  align-self:flex-end;
}

.button-2 {
  align-self:center;
}

.button-3 {
  align-self:flex-start;
}

.stats-main-container {
  position:absolute;
  width:20%;
  height:80%;
  top:8.5%;
  left:80%;
  display:flex;
  flex-direction:column;
  z-index:-10;
  background-color:transparent;
}

.stats-containers {
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
}

.stats-titles {
  color: white;
  margin:0;
  margin-top:4px;
  padding-right:10px;
  align-self:flex-end;
}

.my-graph-bar-container {
  position:absolute;
  width:14%;
  height:81%;
  top:10%;
  left:86%;
  background-color:transparent;
  display:flex;
  flex-direction:column;
}

.main-containers {
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.stats-bars {
  width:100%;
  height:28px;
  position:relative;
}

.stats-bars .inner-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  background-color:rgb(31, 125, 247);
  -webkit-transition: all 200ms cubic-bezier(0.15, 2, 0.5, 1.275);
  transition: all 200ms cubic-bezier(0.15, 2, 0.5, 1.275);
  display:flex;
  justify-content:flex-end;
  padding-right:12px;
  align-items:center;
  color:white;
  border-bottom:1px solid white;
}

.stats-bars.inner-bar:hover {
  color:white;
  opacity:1;
}

.stats-bars.pct-50 .inner-bar  {  
  -webkit-animation-duration: .5s;
  -webkit-animation-name: grow-50;
  left:50%;
}

.stats-bars.pct-60 .inner-bar {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: grow-60;
  left:40%;
}

.stats-bars.pct-70 .inner-bar {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: grow-70;
  left:30%;
}

.stats-bars.pct-85 .inner-bar {
  -webkit-animation-duration:1s;
  -webkit-animation-name: grow-85;
  left:15%;
}

.stats-bars.pct-90 .inner-bar {
  -webkit-animation-duration:2s;
  -webkit-animation-name: grow-90;
  left:10%;
}

@media only screen and (max-width:800px) {

}

@media only screen and (max-height:850px) {
  .stats-bars .inner-bar {
    top: 2px;
  }
}

@media only screen and (max-height:800px) {
  .stats-bars .inner-bar {
    top: 4px;
  }
}





