#projects-container {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-color:rgb(26, 25, 25);
    background-position: center;
    background-size: cover;
    z-index:-100;
}

#main-wrapper {
    height: 700px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7
}

#terminal-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    background-color: black;
    border: 1px solid rgb(67, 67, 255);
    border-radius: 10px;
    padding: 15px;
    color: white;
    font-size: 30px;
    outline: none;
}

#terminal-options-container {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

#terminal-options-title-wrap {
    width: 100%;
    border: 1px solid white;
    padding: 0 20px 0 20px;
}

#terminal-options-title {
    color: white
}

.terminal-option-text-container {
    border: 1px solid blue;
    width: 100%;
}

.terminal-options-text {
    font-size: 1.4rem;
}

.terminal-options-text-commands {
    color: rgb(235, 19, 19);
}.terminal-options-text {
    color: white;
} .terminal-options-text-var {
    color: rgb(93, 93, 243);
}