
#main-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#terminal-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    padding: 15px;
    color: white;
    font-size: 30px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background-color:rgb(26, 25, 25);
}

#show-commands-button {
    position: absolute;
    top: 15px;
    right: 70px;
    padding: 12px 18px;
    border: none;
    background-color: rgb(31, 125, 247);
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

#terminal-options-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 400px;
    height: 100vh;
    color: #FFF;
    background-color: rgba(0,0,0,0.4);
}

#terminal-options-title-wrap {
    display: flex;
    justify-content: space-between;
    padding: 16px 12px;
}

#terminal-options-close {
    background-color: none;
    border: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.4);
}

.material-symbols-outlined {
    background-color: none;
    color: #FFF;
    padding-right: 20px;
    font-size: 40px;
    cursor: pointer;
}

.terminal-option-text-container {
    padding: 24px 0 24px 24px;
    border-bottom: 1px solid black;
}

.terminal-options-text-var {
    color: rgb(167, 35, 35)
}